.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.informationContainer{
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40vh;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.gameButtonsContainer{
  justify-content: center;
  align-items: center;
}

.gameBtn{
  display: inline-block;
}

.energy{
  display: inline-block;
  height: 1.5vw;
  width: 8vw;
  border: 5px solid black;
}

.energyValue{
  background-color: yellow;
  height: 100%;
}

.energyLogo{
  display: inline-block;
  height: 2vw;
  width: 2vw;
}

.cell {
  background-color: black;
  width:8vh;
  height:8vh;
  border: 2px solid white;
  margin:0;
}

table{
  margin-top: 20px;
  margin-bottom: 20px;
}

.entities{
  width:7vh;
  height:7vh;
}

