.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s alternate;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.informationContainer{
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40vh;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#blocGameId{
  max-width:100%;
  width:600px;
  height:50px;
  border-radius:30px;
  background: #fff;
  text-align:center;
  border:none;
}

#blocGameId:hover{
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.26);
  -webkit-box-shadow: 0 2px 4px rgba(102, 102, 102, 0.19);
}

#blocGameId input{
  height:45px;
  width:90%;
  max-width:520px;
  float:left;
  border:none;
  margin-top:2px;
  margin-left:20px;

}

#blocGameId input:focus{
  outline:none;
}

#selectGameId{
  background: rgba(26, 26, 26, 0.78);
  border:0px solid black;
  border-radius:50px;
  box-shadow: 0px 0px 0px black;
  text-shadow:none;
  width:50px;
  height:50px;
  transition-duration:1s;
  float:right;
  color:white;
  font-size:large;
}

.gameButtonsContainer{
  justify-content: center;
  align-items: center;
}

.gameBtn{
  display: inline-block;
  color:white;
  border-radius:10px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 4vh;
  margin-left: 10%;
  margin-right: auto;
  width: 43%;
  background-color: #383333;
}

.gameBtn:hover{
  background-color: #423d3d;

}

.energy{
  display: inline-block;
  height: 1.5vw;
  width: 8vw;
  border: 5px solid black;
}

.energyValue{
  background-color: yellow;
  height: 100%;
}

.energyLogo{
  display: inline-block;
  height: 2vw;
  width: 2vw;
}

.cell {
  background-color: black;
  width:8vh;
  height:8vh;
  border: 2px solid white;
  margin:0;
}

table{
  margin-top: 20px;
  margin-bottom: 20px;
}

.entities{
  width:7vh;
  height:7vh;
}

